<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block head  %} TRACK URL{%  endblock  %}</title>
</head>
<h2>{%  block body  %}
    Helpline
    {%  endblock  %}</h2>
<center>
    <p> Copy the URL that you need to track <br> paste it on text box </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/04Gt4y3FyIM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!--    use embered in youtube video-->
    <p>Watch on Youtube:<a href="https://www.youtube.com/watch?v=04Gt4y3FyIM">Click Here</a> </p>
</center>
<button>
    <a href="/">HOME PAGE</a>
</button>
</html>